In [61]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [3]:
# loading the dataset to a Pandas DataFrame
data = pd.read_csv('creditcard.csv')

In [4]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [8]:
data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [9]:
legit = data[credit_card_data.Class == 0]
fraud = data[credit_card_data.Class == 1]

In [10]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [11]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [12]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [13]:
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [14]:
legit_sample = legit.sample(n=492)

In [15]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [16]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
261351,159974.0,-4.318361,4.461645,-2.458358,-2.520314,0.903174,-1.182886,2.009183,-0.692996,3.645459,...,-0.484089,0.710904,-0.101707,0.677678,0.589896,-0.013678,1.533974,0.292517,0.77,0
203830,134986.0,1.508953,-1.228196,-2.027121,0.155608,0.024748,-0.258215,0.310182,-0.111537,0.394058,...,0.383332,0.393292,-0.239276,0.238818,-0.049664,0.739969,-0.167063,-0.030140,304.96,0
139626,83260.0,1.268172,-0.027602,-0.104681,0.155005,0.251959,0.533726,-0.280501,0.278421,0.171350,...,-0.289915,-0.928444,0.008823,-1.400803,0.229632,0.197693,-0.031013,-0.012532,1.98,0
166792,118313.0,1.907604,-1.421164,-0.683484,-0.754003,-1.364373,-0.700767,-0.898528,0.002104,-0.002632,...,0.322019,0.630993,0.102487,0.060367,-0.312571,-0.208952,-0.034361,-0.043242,123.00,0
250246,154799.0,2.088367,0.240543,-1.743555,0.369063,0.595459,-0.764557,0.259655,-0.292055,0.329742,...,-0.362075,-0.878347,0.307288,0.410532,-0.197847,0.177555,-0.055198,-0.029688,0.99,0

In [17]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [18]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [19]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,99452.861789,0.010515,-0.129630,-0.146902,-0.083389,0.086612,0.098211,0.041039,-0.026027,-0.025847,...,0.035092,0.068863,0.001609,-0.017265,0.008826,-0.071172,0.047709,0.007196,-0.011263,117.947907
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [20]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [21]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
261351  159974.0 -4.318361  4.461645 -2.458358 -2.520314  0.903174 -1.182886
203830  134986.0  1.508953 -1.228196 -2.027121  0.155608  0.024748 -0.258215
139626   83260.0  1.268172 -0.027602 -0.104681  0.155005  0.251959  0.533726
166792  118313.0  1.907604 -1.421164 -0.683484 -0.754003 -1.364373 -0.700767
250246  154799.0  2.088367  0.240543 -1.743555  0.369063  0.595459 -0.764557
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
261351  2.009183 -0.692996  3.645459  ...  2.855416 -0.484089  0.710904
203830  0.310182 -0.111537  0.394058  ...  0.358193  0.383332  0.393292
139626 -0.280501  0.278421  0.171350  ... -0.194989 -0.289915 -0.928444
166792 -0.898528  0.002104 -0.002632  ...  0.086318  0.322019  0.630993
250246  0.259655 -0.292055  0.329742  ... -0.078390 -0.362075 -0.878347
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
261351 -0.101707  0.677678  0.589896 -0.013678  1.533974  0.292517    0.77
203830 -0.239276  0.238818 -0.049664  0.739969 -0.167063 -0.030140  304.96
139626  0.008823 -1.400803  0.229632  0.197693 -0.031013 -0.012532    1.98
166792  0.102487  0.060367 -0.312571 -0.208952 -0.034361 -0.043242  123.00
250246  0.307288  0.410532 -0.197847  0.177555 -0.055198 -0.029688    0.99
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [22]:
print(Y)

261351    0
203830    0
139626    0
166792    0
250246    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [23]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [24]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

# Linear regression

In [45]:
def linear_cost_function(X, Y, theta):
    m = len(Y)
    h = np.dot(X, theta)
    cost = (1/(2*m)) * np.sum((h - Y)**2)
    return cost

def linear_gradient_descent(X, Y, theta, learning_rate, iterations):
    m = len(Y)
    cost_history = np.zeros(iterations)

    for i in range(iterations):
        h = np.dot(X, theta)
        gradient = (1/m) * np.dot(X.T, (h - Y))
        theta = theta - learning_rate * gradient
        cost_history[i] = linear_cost_function(X, Y, theta)

    return theta, cost_history

def feature_scaling(X):
    mean = np.mean(X, axis=0)
    std_dev = np.std(X, axis=0)
    X_scaled = (X - mean) / std_dev
    return X_scaled

X_train_scaled = feature_scaling(X_train.values)
X_test_scaled = feature_scaling(X_test.values)

X_train_linear_scaled_bias = np.c_[np.ones((X_train_scaled.shape[0], 1)), X_train_scaled]
X_test_linear_scaled_bias = np.c_[np.ones((X_test_scaled.shape[0], 1)), X_test_scaled]

theta_init_linear_scaled = np.zeros(X_train_linear_scaled_bias.shape[1])

learning_rate_linear_scaled = 0.1
iterations_linear_scaled = 1000

theta_trained_linear_scaled, cost_history_linear_scaled = linear_gradient_descent(X_train_linear_scaled_bias, Y_train.values, theta_init_linear_scaled, learning_rate_linear_scaled, iterations_linear_scaled)

train_predictions_linear_scaled = np.dot(X_train_linear_scaled_bias, theta_trained_linear_scaled)

training_accuracy_linear_scaled = np.sqrt(np.mean((train_predictions_linear_scaled - Y_train.values) ** 2))
print('Root Mean Squared Error on training data:', training_accuracy_linear_scaled)

test_predictions_linear_scaled = np.dot(X_test_linear_scaled_bias, theta_trained_linear_scaled)

test_accuracy_linear_scaled = np.sqrt(np.mean((test_predictions_linear_scaled - Y_test.values) ** 2))
print('RMSE on Test Data :', test_accuracy_linear_scaled)

Root Mean Squared Error on training data: 0.29285326810338236
RMSE on Test Data : 0.3154831406427164

# Logistic regression

In [25]:
model = LogisticRegression()

In [26]:
model.fit(X_train, Y_train)

LogisticRegression()

In [27]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [28]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9237611181702668

In [29]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [30]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9086294416243654

# logistic regrssion implementation from scratch

In [58]:
def sigmoid(x):
    return 1 / (1 + np.exp(-x))

def cost_function(X, Y, theta):
    m = len(Y)
    h = sigmoid(np.dot(X, theta))
    epsilon = 1e-10  # Small value to prevent log(0) issues
    cost = (-1/m) * np.sum(Y * np.log(h + epsilon) + (1 - Y) * np.log(1 - h + epsilon))
    return cost

def gradient_descent(X, Y, theta, learning_rate, iterations):
    m = len(Y)
    cost_history = np.zeros(iterations)

    for i in range(iterations):
        h = sigmoid(np.dot(X, theta))
        gradient = np.dot(X.T, (h - Y)) / m
        theta = theta - learning_rate * gradient
        cost_history[i] = cost_function(X, Y, theta)

    return theta, cost_history

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

X_train_bias = np.hstack((np.ones((X_train_scaled.shape[0], 1)), X_train_scaled))
X_test_bias = np.hstack((np.ones((X_test_scaled.shape[0], 1)), X_test_scaled))

theta_init = np.zeros(X_train_bias.shape[1])

learning_rate = 0.01
iterations = 1000

theta_trained, cost_history = gradient_descent(X_train_bias, Y_train.values, theta_init, learning_rate, iterations)

train_predictions = predict(X_train_bias, theta_trained)

training_accuracy = accuracy_score(train_predictions, Y_train)
print('Accuracy on Training data (logistic regression):', training_accuracy)

test_predictions = predict(X_test_bias, theta_trained)

test_accuracy = accuracy_score(test_predictions, Y_test)
print('Accuracy on Test Data (logistic regression):', test_accuracy)

Accuracy on Training data (logistic regression): 0.9123252858958069
Accuracy on Test Data (logistic regression): 0.9035532994923858

# logistic regression with l1 regularization

In [56]:
def cost_function(X, Y, theta, lambda_reg):
    m = len(Y)
    h = sigmoid(np.dot(X, theta))
    epsilon = 1e-10  
    regularization_term = (lambda_reg / (2 * m)) * np.sum(theta[1:]**2)  # Regularization term
    cost = (-1/m) * np.sum(Y * np.log(h + epsilon) + (1 - Y) * np.log(1 - h + epsilon)) + regularization_term
    return cost

def gradient_descent(X, Y, theta, learning_rate, iterations, lambda_reg):
    m = len(Y)
    cost_history = np.zeros(iterations)

    for i in range(iterations):
        h = sigmoid(np.dot(X, theta))
        regularization_term = (lambda_reg / m) * theta[1:]  # Regularization term
        gradient = (np.dot(X.T, (h - Y)) + np.concatenate(([0], regularization_term))) / m
        theta = theta - learning_rate * gradient
        cost_history[i] = cost_function(X, Y, theta, lambda_reg)

    return theta, cost_history

learning_rate = 0.05
iterations = 1000
lambda_reg = 0.1 

theta_trained_reg, cost_history_reg = gradient_descent(X_train_bias, Y_train.values, theta_init, learning_rate, iterations, lambda_reg)

train_predictions_reg = predict(X_train_bias, theta_trained_reg)

training_accuracy_reg = accuracy_score(train_predictions_reg, Y_train)
print('Accuracy on Training data (L1 regularization):', training_accuracy_reg)

test_predictions_reg = predict(X_test_bias, theta_trained_reg)

test_accuracy_reg = accuracy_score(test_predictions_reg, Y_test)
print('Accuracy on Test Data (L1 regularization):', test_accuracy_reg)

Accuracy on Training data (L1 regularization): 0.9351969504447268
Accuracy on Test Data (L1 regularization): 0.9137055837563451